html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Input TO-DO List
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
		link(rel="stylesheet" href="../css/list.css")
	body
		div.container
			div#todolist(data-id=note._id data-note=note)
				div.input-group.input-group-sm.mb-3#listtitle
					div.input-group-prepend
						span.input-group-text Title:
					input.form-control(type="text" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Заголовок ...")
				div.open-do#openlist
				div.input-group.mb-3#listnewitem
					div.input-group-prepend
						div.input-group-text +
					input.form-control.alert-dismissible(type="text" aria-label="Text input with checkbox" 	placeholder="Новый пункт... ")
				div.closed-do#closedlist
			div.d-flex.justify-content-between
				button.btn.btn-secondary.btn-sm#listbtncancel(type="button" onclick="cancelBtn()" name="close") Cancel
				button.btn.btn-danger.btn-sm.invisible#listbtndelete(onclick="deleteBtn()") Delete
				button.btn.btn-success.btn-sm.invisible#listbtnedit(onclick="editBtn()") Edit
				button.btn.btn-primary.btn-sm#listbtnsave(onclick="sendData()") Save
				button.btn.btn-primary.btn-sm#listbtnupdate(onclick="updateData()") Update
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
	script(src="../js/list.js")
