meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
html
  head
    title= title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    link(href="./css/style.css" rel="stylesheet")
  body