body {
  background-color: rgb(230, 222, 222);
}
.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 15px;
}
.input-container {
  border: 1px solid rgb(50, 53, 50);
  border-radius: 6px;
  padding: 10px;
}
.input-container.active .input-container-title {
  display: none;
}
.input-container.active .input-title, .input-container.active .input-text { 
  display: block;
}
.input-title {
  display: none;  
  width: 100%;
  height: 30px;
  padding: 10px;
  line-height: 30px;
}
.input-text {
  display: none;
  width: 100%;
  padding: 10px;
}

.note {
  border: 1px solid rgb(50, 53, 50);
  border-radius: 6px;
  background-color: rgb(250, 248, 239);
  padding: 10px;
  margin-bottom: 6px;
}
.note.active {
background-color: rgb(238, 231, 190);
transform: scale(1.04);
box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.note-title, .note-text {
  width: 100%;
  padding: 10px;
  outline: none;
}